* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
}

nav {
    z-index: 200;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    height: 14vh;
    border-bottom: 0.2px solid rgb(49 49 49);
}

.image {
    height: 40px;
    width: 195px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;   
}

.image > img{
  width: 140px;
}

.spacex__main > img{
    height: 100vh;
    object-fit: cover;
    width: 100vw;
}

.spacex__navMain{
    display: flex;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 15.4px;
    padding: 0;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    height: 48px;
    letter-spacing: 0.9px;
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    margin-top: 10.5vh;
}
.spacex__navMain a{
    color: white;
    text-decoration: none; 
}

.spacex__navMain li {
    height: 100%;
}

.spacex__navRight{
    display: flex;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 15.4px;
    padding: 0;
    width: 28rem;
    justify-content: space-around;
    padding-left: 11%;
    padding-right: 2.5%;
    align-items: center;
    height: 45px;
    color: white;
    letter-spacing: 0.9px;
}

.spacex__navRight a{
    color: white;
    text-decoration: none; 
}

.spacex__navRight li {
    text-decoration: none;
    list-style: none;
}

ul{
  list-style-type: none;
}
.navright__small, .navright__small1 {
    font-size:13px;
    letter-spacing: 1.2px;
    color: gray;
}

.navright__small a, .navright__small1 a{
    color: gray;
    font-size:13px;
    letter-spacing: 1.8px;
}
.navright__small a:hover, .navright__small1 a:hover{
    color: white;
    transition: 0.3s;
}
.navright__small:hover, .navright__small1:hover{
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.searchbox{
    background: white;
    position: fixed;
    top: -7px;
    width: 100vw;
    display: flex;
    align-items: center;
    height: 14vh;
    z-index: 40;
    transition: 0.2s ease-in;

  }
  .navright__small1{
    
    user-select: none;
  }
 
  .material-symbols-outlined {
    margin: 0;
    padding: 0;
    padding-left: 46px;
    font-size: 35px !important;
    font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' -25,
    'opsz' 48
    
  }

  .dabba{
    outline: 0;
    border: none;
    font-size: 1.2rem;
    color: black;
    padding-left: 14px;
    letter-spacing: 1.5px;
    flex: 1;
  }

  .opacity__search{
    height: 100vh;
    position: fixed;
    background-color: black;
    opacity: 0;
    z-index: 30;
    width: 100vw;
    transition: 0.2s;
    z-index: -10;
  }
 
::placeholder {
    color: black;
    font-weight: 500;
}

.opacity {
    opacity: 0.5;
    z-index: 20;
}
.yhide{
    overflow-y: hidden;    
}

.search_shown {
    top: 75px;
    width: 100vw;
}
.search_hide {
    margin-top: -14px;
}

#cross{
    float:right;
    margin-right: 43px;
    cursor: pointer;
    padding-left: 0;
}  

#cross:hover {
    color: rgb(189, 188, 188);
}

.dropdown_menu{
    margin-top: 5vh;
    font-weight: lighter;
    font-size: 14px;
    height: 25vh;
    border: 0.5px solid rgb(56, 56, 56);
    border-top: 2px solid white;
    position: absolute;
    color: white;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    padding-left: 25px;
    visibility: hidden;
    width: 7.5vw;
    transition: 0.1s;
    padding-top: 30px;
}
 .kuchbhi{
    transition-delay: 2s;
    visibility: hidden;
 }

.dropdown_menu li {
    line-height: 0;
    cursor: pointer;
}

#drop4, #drop5{
    height: 11vh;
}

.dropdown_menu_show {
    visibility: visible;
    width: 15vw;
    transition: width 0.1s;
}
.dropdown_menu a:hover{
    color: grey;
    transition: 0.2s;
}

footer{
    bottom: 0;
    height: 35vh;
    width: 100vw;
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: flex-start;
    
  }
   footer ul{
    display: flex;
    width: 32vw;
    justify-content: space-between;
   }

  footer li{
    margin-top: 50px;
    list-style: none;
    font-family: 'Ropa Sans', sans-serif;
    font: bold;
    font-weight: 400;
    font-size: small;
  }
  .vella{
    
    padding-top: 22vh;
    height: auto;
    width: 100vw;
  }
  .title{
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.55rem;
    letter-spacing: 1.5px;
    font-weight: 500;
    padding-bottom: 30px;
  } 

  .shop_image1 {
    position: absolute;
    opacity:0 ;
    top: 0;
    cursor: pointer;
    transition: opacity .3s ease-out;
} 

.faltu {
    opacity: 1;
}

.noop {
    opacity: 0;
}

 #grid-container {
    padding: 15px;
    margin-left: 10px;
    margin-right: 20px;
 }

 .individual-container{
    position: relative;
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
 }

 .individual-container > .individual-container-title{
    padding-top: 10px;
 }

/* .shop_image1:hover {
    background-color: red;
    opacity: 0;
    height: 100px;
  }  */


@media screen and (min-width: 1497.6px){
    nav{
        height: 8.8vh;
    }
    .image {
        width: 220px;
    }
    .image > img{
        width: 158px;
      }

    .spacex__navMain {
        margin-left: 1.5%;
        margin-right: -1%;
        margin-top: 6.6vh;
    }
    .spacex__navRight {
        width: 71rem;
        padding-left: 42%;
        padding-right: 2%;
    }
    
    .item-opacity {
        height: 90vh;
    }
    
    footer ul{
        width:25rem ;
    }
    .searchbox{
        height: 9.5vh;
      }
      .material-symbols-outlined {
        font-size: 30px !important;
        padding-left: 46px;
      }
      .dropdown_menu {
        margin-top: 3vh;
        height: 15vh ;
        padding-top: 35px;
    }
    #drop4, #drop5{
        height: 7.6vh;
    }

    .dropdown_menu_show {
        width: 10.5vw;
    }
    .vella{
    
        padding-top: 14.5vh;
       
      }
     
}

@media screen and (min-width: 1400px) and (max-width: 1497px) {
    nav {
        height: 10.2vh;
    }
    .image {
        width: 220px;
    }
    .spacex__navMain {
        margin-left: 2%;
        margin-top: 8vh;
    }
    .spacex__navRight {
        width: 41rem;
        padding-left: 22.5%;
        padding-right: 2.5%;
    }
    .navright__small {
        letter-spacing: 1.5px;
    }
    
    .item-opacity {
        height: 71vh;
    }
    footer ul {
        width: 27vw;
    }
    .searchbox {
        height: 11vh;
    }
    .material-symbols-outlined {
        font-size: 30px !important;
    }
    .dropdown_menu {
        margin-top: 3.3vh;
        height: 17vh;
        padding-top: 35px;
    }
    #drop4, #drop5{
        height: 9vh;
    }
    .dropdown_menu_show {
        width: 13.9vw;
    }
    .vella {
        padding-top: 17vh;
    }
}